* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: rgba(252, 144, 4, 0.822);
}

ul {
    display: flex;
    list-style: none;
}

li {
    font-size: 18px;
}

a {
    color: white;
    background-color: rgb(218, 88, 28);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    border: 1px solid white;
}

a:hover {
    background-color: rgb(196, 64, 4);
}